@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: "helvetica-neue";
  src: url("./assets/fonts/helvetica-neue/HelveticaNeueLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body, button {
  font-family: "Manrope", sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-inner {
  display: flex;
  align-items: center;
  gap: 12px;
  outline: none;
  text-decoration: none;
}

.logo-text {
  color: #505050;
  font-size: 16px;
  white-space: nowrap;
}

/* SEARCH */

.search-input {
  width: 435px;
  height: 40px;
  border-radius: 100px;
  padding: 0 48px;
  color: #505050;
  caret-color: #4FB279;
  font-family: "helvetica-neue";
  font-size: 15px;
  background: url(assets/images/MagnifyingGlassIcon.svg) no-repeat 10px center / 24px 24px, #F7F7F7;
  border: none;
  outline: none;
}
.search-input::placeholder {
  color: #9E9E9E;
  font-family: "helvetica-neue";
  font-size: 15px;
}
.search-input:focus::placeholder {
  opacity: 0;
}
.search-input::-webkit-search-cancel-button {
  appearance: none;
}

/* ----------------------------------------------------------------- */

.section-description {
  margin-bottom: 20px;
  color: #505050;
  font-size: 16px;
  line-height: 120%;

  display: flex;
  gap: 8px;
}

.hidden {
  display: none;
}

.label-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;

  position: absolute;
  left: -10000px;
}

/* HEADER */

.header {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
}

.h-top, .h-bottom {
  --half-header-height: 68px;
  height: var(--half-header-height);
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

/* HEADER-TOP */

.h-top {
  height: 69px;
  border-bottom: 1px solid #F5F5F5;
}

.ht-inner {
  display: flex;
  align-items: center;
  gap: 64px;
}

.h-hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.h-meta {
  display: flex;
  align-items: center;
  gap: 60px;
}

.hm-inner {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.h-location {
  color: #505050;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.h-phone-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2px;
  white-space: nowrap;
}

.h-phone {
  color: #505050;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.h-work-hours {
  color: #505050;
  font-size: 12px;
  white-space: nowrap;
}

.h-call-action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h-indicator {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: url(assets/images/peephole-indicator.svg) center center no-repeat, #F7F7F7;

  transition: 0.2s all;
}
@media (hover: hover) {
  .h-indicator:hover {
    background: url(assets/images/peephole-indicator-hover.svg) center center no-repeat, #4FB279;
  }
}

.h-button {
  padding: 12px 20px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;
  white-space: nowrap;

  transition: 0.2s all;
}
@media (hover: hover) {
  .h-button:hover {
    background-color: #2B9F5C;
  }
}

/* HEADER-BOTTOM */

.h-bottom > .search-input {
  display: none;
}

.hb-inner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.h-link {
  color: #50505099;
  font-size: 14px;
  text-decoration: none;

  transition: 0.2s all;
}
@media (hover: hover) {
  .h-link:hover {
    color: #505050;
  }
}

.h-link--active {
  color: #4FB279;

  position: relative;
}
.h-link--active::before {
  content: '';
  display: inline-block;
  width: calc(100% + 6px);
  height: 2px;
  background-color: #4FB279;
  
  position: absolute;
  left: -3px;
  bottom: calc(var(--half-header-height) * -0.5 + 50%);
}
@media (hover: hover) {
  .h-link--active:hover {
    color: #4FB279;
  }
}

/* MAIN */

.main {
  overflow: hidden;
}

.m-content {
  width: 100%;
  min-height: 540px;
  padding: 40px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* MAIN-BLOCK-LEFT */

.m-block-left {
  padding: 0 40px;
  border-radius: 24px;
  background-color: #F7F7F7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.mbl-inner {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mbl-title {
  color: #1C1C1C;
  font-size: 36px;
  font-weight: bold;
  line-height: 120%;
}

.mbl-text {
  font-size: 14px;
  color: #505050;
}

.mbl-buttons-inner {
  display: flex;
  gap: 12px;
}

.mbl-button-left {
  padding: 12px 20px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid #ffffff;

  transition: 0.2s all;
}
@media (hover: hover) {
  .mbl-button-left:hover {
    background-color: #2B9F5C;
  }
}

.mbl-button-right {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: transparent;
  color: #4FB279;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #4FB279;
  text-decoration: none;

  transition: 0.2s all;
}
@media (hover: hover) {
  .mbl-button-right:hover {
    background-color: #4FB279;
    color: #ffffff;
  }
}

/* MAIN-BLOCK-RIGHT */

.m-block-right {
  border-radius: 24px;
  padding: 20px;
  background: url(assets/images/background-heart-392.svg) right bottom no-repeat,
  radial-gradient(45.92% 71.49% at 45.81% 28.51%, #3fca7a 0%, #4fb279 100%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.m-carousel-indicators {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mci-inner {
  display: flex;
  gap: 16px;
}

.m-carousel-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f5f5f580;
}

.m-carousel-indicator--active {
  background-color: #ffffff;
}

.m-carousel-description {
  color: #f8f8f8;
  font-size: 14px;
  line-height: 214%;
}

.mbr-texts-inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mbr-text {
  color: #f8f8f8;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
}

.mbr-subtext {
  color: #f8f8f8;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.mbr-button {
  padding: 10px 59.5px;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  white-space: nowrap;
  border: 1px solid #ffffff;

  transition: 0.2s all;
}
@media (hover: hover) {
  .mbr-button:hover {
    background-color: #ffffff;
    color: #4FB279;
  }
}

/* OUR-SERVICES */

.os-content {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* OUR-SERVICES-CARDS-BLOCK */

.os-cards-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.osch-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.osch-title {
  max-width: 580px;
  margin-right: 50px;
  color: #1C1C1C;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
}

.oscb-button {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  transition: 0.2s all;
}
@media (hover: hover) {
  .oscb-button:hover {
    background-color: #2B9F5C;
  }
}

.os-cards-inner {
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.os-card {
  min-height: 331px;
  border-radius: 20px;
  padding: 10px 13px 16px 20px;
  background: url(assets/images/circleBackground.svg) no-repeat right top / 150px, #F7F7F7;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.osc-image {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.os-card--ultrasound > .osc-image {
  background: url(assets/images/photoUltrasoundProcess-350.jpg) bottom right no-repeat;
  background-size: cover;
}

.os-card--cardiologist > .osc-image {
  background: url(assets/images/photoConsultationCardiologist.jpg) center right no-repeat;
  background-size: cover;
}

.os-card--EECP > .osc-image {
  background: url(assets/images/photoEECP-office.jpg) center left no-repeat;
  background-size: cover;
}

.os-card--diagnostics > .osc-image {
  background: url(assets/images/heartDiagnosticPhoto.jpg) center center no-repeat;
  background-size: cover;
}

.osc-texts-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.osc-title {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
}

.osc-text {
  color: #505050;
  font-size: 14px;
  line-height: 120%;
}

.os-cards-inner > .oscb-button {
  display: none;
}

/* OUR-SERVICES-BLOCK */

.os-block {
  width: 100%;
  border-radius: 24px;
  padding: 56px 60px;
  background: url(assets/images/lumenairEECP-therapySystem-572.png) no-repeat calc(100% - 116px) bottom / contain, #F7F7F7;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.osb-texts-inner {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.osb-title {
  color: #1C1C1C;
  font-size: 32px;
  font-weight: bold;
  line-height: 120%;
}

.osb-text {
  color: #505050;
  font-size: 14px;
}

.osb-benefits {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.osbb-title {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: bold;
}

.osbb-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.osbb-item {
  margin-left: 15px;
  color: #000000;
  font-size: 12px;
  list-style: none;

  position: relative;
}
.osbb-item::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #4FB279;

  position: absolute;
  top: 6px;
  left: -15px;
}

.osb-button {
  width: 172px;
  height: 40px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.2s all;
}
@media (hover: hover) {
  .osb-button:hover {
    background-color: #2B9F5C;
  }
}

/* FREQUENTLY-ASKED-QUESTIONS */

.faq-content {
  width: 100%;
  padding: 40px 0;
}

.faq-block {
  width: 100%;

  display: flex;
  gap: 170px;
}

.faqb-texts-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faqb-title {
  color: #1C1C1C;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  white-space: nowrap;
}

.faqb-text {
  width: 309px;
  color: #505050;
  font-size: 14px;
}

.faqb-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faqb-item {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  padding-right: 20px;
  background-color: #F7F7F7;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
}

.faqbi-inner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.faqbi-text {
  color: #1C1C1C;
  font-size: 16px;
  line-height: 120%;
}

/* REVIEWS */

.r-content {
  padding: 40px 0;
}

.r-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.r-header {
  display: flex;
  justify-content: space-between;
}

.rh-texts-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rh-title {
  color: #1C1C1C;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
}

.rh-text {
  max-width: 356px;
  color: #505050;
  font-size: 14px;
}

.rh-buttons-inner {
  display: flex;
  gap: 20px;
}

.rh-button {
  width: 126px;
  height: 42px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s all;
}
@media (hover: hover) {
  .rh-button:hover {
    background-color: #2B9F5C;
  }
}
.r-cards-inner > .rh-button {
  display: none;
}

.rh-buttons {
  display: flex;
  gap: 8px;
}

.rh-button-prev, .rh-button-next {
  width: 42px;
  height: 42px;
  border-radius: 24px;
}

.rh-button-next {
  background: url(assets/images/arrow-next.svg) center center no-repeat, #D9D9D9;
}

.rh-button-prev {
  background: url(assets/images/arrow-next.svg) center center no-repeat, #D9D9D9;
  transform: scaleX(-1);
}

.rh-button-inactive {
  background: url(assets/images/arrow-next-inactive.svg) center center no-repeat, #F5F5F5;
}

.r-cards-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.r-card-video {
  max-width: 350px;
  height: 400px;
  border-radius: 20px;
  padding: 12px;
  background: url(assets/images/client-photo.jpg) bottom center no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.rc-button-video-play {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #4FB279;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s all;
}
@media (hover: hover) {
  .rc-button-video-play:hover {
    background-color: #2B9F5C;
  }
}

.r-card {
  max-width: 350px;
  height: 400px;
  border-radius: 20px;
  padding: 18px 16px;
  background-color: #F7F7F7;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.rc-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.rc-image {
  margin-bottom: 8px;
}

.rc-title {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: bold;
  line-height: 120%;
}

.rc-text {
  color: #505050;
  font-size: 14px;
  line-height: 120%;

  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rc-expandable-text {
  background-color: transparent;
  color: #1C1C1C;
  font-size: 12px;
  font-weight: bold;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.rc-data {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 120%;
}

/* ARTICLES-AND-NEWS */

.aan-content {
  padding: 40px 0;
}

.aan-block {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.aan-header {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.aanh-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
}


.aanh-buttons-inner {
  display: flex;
  gap: 20px;
}

.aanh-button {
  width: 126px;
  height: 42px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s all;
}
@media (hover: hover) {
  .aanh-button:hover {
    background-color: #2B9F5C;
  }
}
.aan-cards-inner > .aanh-button {
  display: none;
}

.aanh-buttons {
  display: flex;
  gap: 8px;
}

.aanh-button-prev, .aanh-button-next {
  width: 42px;
  height: 42px;
  border-radius: 24px;
}

.aanh-button-next {
  background: url(assets/images/arrow-next.svg) center center no-repeat, #D9D9D9;
}

.aanh-button-prev {
  background: url(assets/images/arrow-next.svg) center center no-repeat, #D9D9D9;
  transform: scaleX(-1);
}

.aanh-button-inactive {
  background: url(assets/images/arrow-next-inactive.svg) center center no-repeat, #F5F5F5;
}

.aan-cards-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 13px;
}

.aan-card {
  min-height: 380px;
  border-radius: 20px;
  padding: 20px;
  background-color: #F7F7F7;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.aanc-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aanc-image-inner {
  display: flex;
  justify-content: space-between;
}

.aanc-data {
  width: 110px;
  height: 37px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 120%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aanc-texts-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aanc-title {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
}

.aanc-text {
  color: #505050;
  font-size: 14px;
  line-height: 120%;
}

.aanc-button {
  width: 126px;
  height: 42px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s all;
}
@media (hover: hover) {
  .aanc-button:hover {
    background-color: #2B9F5C;
  }
}

/* WHERE-TO-FIND-US */

.wtfu-content {
  padding: 40px 0;
}

.wtfu-block {
  height: 325px;
  border-radius: 24px;
  padding: 20px;
  background-color: #F7F7F7;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
}

.wtfu-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}

.wtfu-info-inner {
  padding-bottom: 22px;

  display: flex;
  gap: 80px;
}

.wtfu-info-inner-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wtfu-texts-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wtfu-title {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  white-space: nowrap;
}

.wtfu-text {
  color: #1C1C1C;
  font-size: 14px;
  line-height: 143%;
  white-space: nowrap;
}

.wtfu-info-inner-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wtfu-info-texts-inner-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wtfu-button {
  width: 249px;
  height: 40px;
  border-radius: 30px;
  background-color: #4FB279;
  color: #ffffff;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.2s all;
}
@media (hover: hover) {
  .wtfu-button:hover {
    background-color: #2B9F5C;
  }
}

.wtfu-map {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: none;
}

/* FOOTER */

.footer {
  margin-top: 60px;
  background-color: #F7F7F7;

  position: relative;
}

.f-content {
  width: 100%;
  height: 369px;
  padding: 60px 0 20px 0;

  display: grid;
  grid-template-columns: 299px calc(100% - 831px) 153px 199px;
  grid-template-rows: 182px 47px;
  gap: 60px;
}

.f-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-texts-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.f-title {
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.f-texts {
  display: flex;
  gap: 60px;
}

.fct-texts {
  display: flex;
  flex-direction: column;
}

.f-text, .f-text > a {
  color: #1C1C1C;
  font-size: 14px;
  opacity: 0.75;
  white-space: nowrap;
  text-decoration: none;
}

.f-text {
  line-height: 2;
}

.f-column-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 66px;
}

.fco-inner {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.f-column-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.f-column-four {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fcf-text {
  line-height: 120%;
}

.f-logo-text {
  margin-left: 1px;
}

.f-privacy-policy {
  padding: 13px 0;
  color: #1C1C1C;
  opacity: 0.75;
  white-space: nowrap;
  text-decoration: none;
}

.fco-privacy-policy {
  padding: 0;
}

.f-links {
  width: 102px;
  margin-right: 97px;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.f-link {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid #0a142f1a;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.f-link-ico-rutube {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 6px);
}

/* MEDIA */

@media(max-width: 1450px) {
  /* MAIN */
  /* MAIN-BLOCK-RIGHT */

  .m-block-right {
    background: url(assets/images/background-heart-282.svg) right center no-repeat,
    radial-gradient(45.92% 71.49% at 45.81% 28.51%, #3fca7a 0%, #4fb279 100%);
  }
}

@media(max-width: 1400px) {
  /* MAIN */
  
  .m-content {
    gap: 15px;
  }
}

@media(max-width: 1350px) {
  /* REVIEWS */

  .r-block {
    gap: 40px;
  }

  .r-cards-inner {
    gap: 27px;
  }
}

@media(max-width: 1300px) {
  /* SEARCH */

  .search-input {
    width: 100%;
  }

  /* HEADER */
  /* HEADER-TOP */

  .ht-inner {
    width: 100%;
    gap: 24px;
  }
}

@media(max-width: 1250px) {
  /* OUR-SERVICES */

  /* OUR-SERVICES-BLOCK */

  .os-block {
    padding: 43px 40px;
    background: url(assets/images/lumenairEECP-therapySystem-492.png) no-repeat calc(100% - 116px) bottom / contain, #F7F7F7;
    gap: 37px;
  }

  .osb-text {
    font-size: 16px;
  }

  .osb-benefits {
    margin: 0;
    margin-top: 3px;
  }

  .osbb-item {
    font-size: 14px;
  }
}

@media(max-width: 1200px) {
  /* MAIN */

  .m-content {
    padding: 20px 0 40px 0;
    
    gap: 20px;
    grid-template-columns: 1fr;
  }

  /* MAIN-BLOCK-LEFT */

  .m-block-left {
    min-height: 284px;
    padding: 30px;
    order: 1;
  }

  /* MAIN-BLOCK-RIGHT */

  .m-block-right {
    height: 371px;
    padding: 40px;
    background: url(assets/images/background-heart-431.svg) right center no-repeat,
    radial-gradient(45.92% 71.49% at 45.81% 28.51%, #3fca7a 0%, #4fb279 100%);
  }

  /* REVIEWS */

  .r-block {
    gap: 22px;
  }

  .r-header {
    align-items: flex-end;
  }

  .r-cards-inner {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
  }

  .r-card:nth-child(4) {
    display: none;
  }

  /* ARTICLES-AND-NEWS */

  .aan-cards-inner {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .aan-card:nth-child(4) {
    display: none;
  }
}

@media(max-width: 1150px) {
  /* OUR-SERVICES */

  /* OUR-SERVICES-BLOCK */

  .os-block {
    padding: 56px 40px;
    background: url(assets/images/lumenairEECP-therapySystem-354.png) no-repeat right bottom / contain, #F7F7F7;
    gap: 20px;
  }

  .osb-text {
    font-size: 16px;
  }

  .osb-benefits {
    margin: 0;
    margin-bottom: 20px;
  }

  .osbb-item {
    font-size: 12px;
  }

  /* FREQUENTLY-ASKED-QUESTIONS */

  .faq-block {
    flex-direction: column;
    gap: 20px;
  }
}

@media(max-width: 1100px) {
  /* HEADER */

  .h-meta {
    gap: 20px;
  }

  /* OUR-SERVICES */

  .os-cards-inner {
    grid-template-columns: 1fr 1fr;
  }

  .os-card {
    background: url(assets/images/circleBackground.svg) no-repeat right top / 125px, #F7F7F7;
  }

  /* FOOTER */

  .f-content {
    height: 479px;
    padding: 40px 0 20px 0;

    grid-template-columns: 239px 175px 199px;
    grid-template-rows: 222px 152px 45px;
    justify-content: space-between;
    gap: 0;
  }

  .f-column-three {
    padding-bottom: 60px;
    flex-direction: row;
    gap: 28px;
    order: 1;
  }

  .fct-contacts-inner {
    display: flex;
    align-items: flex-end;
  }

  .fct-title {
    white-space: nowrap;
  }

  .f-column-four {
    justify-content: flex-start;
  }

  .f-links {
    margin-bottom: 62px;
    order: 2;
  }

  .fco-links {
    margin: 0;
  }

  .f-empty-div {
    order: 3;
  }

  .f-logo {
    order: 4;
  }

  .f-privacy-policy {
    order: 5;
  }
}

@media(max-width: 1000px) {
  /* HEADER */
  /* HEADER-TOP */

  .h-top {
    gap: 20px;
  }

  .ht-inner {
    gap: 36px;
  }

  .hm-inner {
    display: none;
  }

  /* WHERE-TO-FIND-US */

  .wtfu-block {
    height: 576px;

    flex-direction: column;
    gap: 40px;
  }

  .wtfu-inner {
    gap: 4px;
  }

  .wtfu-info-inner {
    padding: 0;
    padding-top: 14px;

    gap: 100px;
  }
  
  .wtfu-info-inner-left {
    flex-direction: row;
    gap: 100px;
  }
}

@media(max-width: 900px) {
  /* REVIEWS */

  .r-cards-inner {
    grid-template-columns: 1fr 1fr;
    gap: 27px;
  }

  .r-card, .r-card-video {
    max-width: 100%;
  }

  .r-card:nth-child(4) {
    display: flex;
  }

  /* ARTICLES-AND-NEWS */

  .aan-cards-inner {
    grid-template-columns: 1fr 1fr;
  }

  .aan-card:nth-child(3) {
    display: none;
  }
}

@media(max-width: 834px) {
  /* HEADER */

  .h-bottom {
    display: none;
  }

  /* HEADER-TOP */

  .logo > .h-hamburger {
    display: inline-block;
  }

  /* HEADER-BOTTOM */

  .hb-inner {
    display: none;
  }

  /* MAIN */

  .m-content {
    padding: 15px 0 30px 0;
  }

  .m-block-right {
    padding: 20px;
  }

  /* MAIN-BLOCK-RIGHT */
  
  .mbr-texts-inner {
    width: 250px;
  }

  .mbr-text {
    font-size: 36px;
  }

  .mbr-subtext {
    font-size: 12px;
  }

  /* OUR-SERVICES */

  .os-content {
    padding: 30px 0;
    gap: 60px;
  }
  
  /* OUR-SERVICES-BLOCK */

  .os-block {
    padding: 20px;
    background: url(assets/images/lumenairEECP-therapySystem-334.png) no-repeat bottom center, #F7F7F7;
  }

  .osb-texts-inner {
    width: 100%;
    padding-right: 30px;
  }

  .osb-title {
    font-size: 20px;
  }

  .osb-text {
    font-size: 12px;
  }

  .osb-benefits {
    padding-right: 36px;
    margin: 0;
  }

  .osb-button {
    width: 100%;
    margin-bottom: 222px;
  }

  /* FREQUENTLY-ASKED-QUESTIONS */

  .faq-content {
    padding: 30px 0;
  }

  /* REVIEWS */

  .r-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .rh-text {
    font-size: 12px;
  }

  .rh-buttons-inner {
    width: 100%;
  }

  .rh-button {
    width: 100%;
  }

  .rh-buttons {
    display: none;
  }

  /* ARTICLES-AND-NEWS */

  .aanh-title {
    color: #505050;
  }

  .aanh-button {
    display: none;
    width: 100%;
  }

  .aan-cards-inner > .aanh-button {
    display: flex;
    grid-column: 1 / -1;
  }

  .aan-cards-inner {
    gap: 20px;
  }
}

@media(max-width: 800px) {
  /* FOOTER */

  .f-content {
    height: 585px;

    grid-template-columns: 80%;
    grid-template-rows: 244px 79px 93px 45px;
    justify-content: center;
    gap: 30px;
  }

  .f-texts-inner {
    gap: 9px;
  }

  .f-title {
    font-size: 16px;
  }

  .f-text, .f-text > a {
    font-size: 12px;
  }

  .f-column-one {
    justify-content: space-between;
  }

  .fco-texts-inner {
    width: 136px;
  }

  .fco-inner {
    width: 170px;
    display: flex;
  }

  .fco-texts {
    flex-direction: column;
    gap: 0;
  }

  .f-column-two {
    display: none;
  }

  .f-column-three {
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .fct-texts {
    justify-content: space-between;
  }

  .fct-text-right {
    width: 170px;
  }

  .fct-contacts {
    width: 170px;
  }

  .f-column-four {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .fcf-text-work-time {
    width: 136px;
  }

  .f-logo {
    margin: 0 auto;
  }

  .f-privacy-policy {
    display: none;
  }

  .fco-privacy-policy {
    display: inline;
    font-size: 12px;
  }

  .f-empty-div {
    display: none;
  }

  .f-links {
    display: none;
  }

  .fco-links {
    display: flex;
  }
}

@media(max-width: 750px) {
  /* WHERE-TO-FIND-US */

  .wtfu-content {
    padding: 30px 0;
  }

  .wtfu-block {
    height: 731px;

    gap: 28px;
  }

  .wtfu-inner {
    width: 100%;

    gap: 18px;
  }

  .wtfu-info-inner {
    padding: 0;
    padding-bottom: 2px;

    flex-direction: column;
    gap: 20px;
  }

  .wtfu-info-inner-left {
    flex-direction: column;
    gap: 20px;
  }

  .wtfu-button {
    width: 100%;
  }
}

@media(max-width: 700px) {
  /* SEARCH */

  .search-input {
    display: none;
  }

  /* HEADER */
  /* HEADER-TOP */

  .logo > .h-hamburger {
    display: none;
  }
  
  .h-call-action > .h-hamburger {
    display: inline-block;
  }

  /* HEADER-BOTTOM */

  .h-bottom {
    display: flex;
  }

  .h-bottom > .search-input {
    display: inline-block;
  }

  /* MAIN */
  /* MAIN-RIGHT */

  .m-block-right {
    background: url(assets/images/background-heart-152.svg) no-repeat right center / 240px,
    radial-gradient(45.92% 71.49% at 45.81% 28.51%, #3fca7a 0%, #4fb279 100%);
  }

  /* MAIN-BLOCK-LEFT */

  .m-block-left {
    padding: 20px;
    min-height: 250px;

    justify-content: flex-end;
    gap: 20px;
  }

  .mbl-inner {
    width: 100%;
    
    gap: 12px;
  }

  .mbl-title {
    font-size: 16px;
    text-align: center;
  }

  .mbl-text {
    font-size: 12px;
    text-align: center;
  }

  .mbl-buttons-inner {
    width: 100%;
    flex-direction: column;
  }

  .mbl-button-left, .mbl-button-right {
    width: 100%;
  }

  /* REVIEWS */

  .r-cards-inner {
    gap: 7px;
  }
}

@media(max-width: 650px) {
  /* FREQUENTLY-ASKED-QUESTIONS */

  .faqb-item {
    padding: 12px;
  }

  .faqbi-icon {
    display: none;
  }
}

@media(max-width: 600px) {
  /* OUR-SERVICES */

  .os-cards-block {
    gap: 20px;
  }

  .osch-title {
    margin-right: 50px;
    font-size: 20px;
  }

  .oscb-button {
    display: none;
  }
  .os-cards-inner > .oscb-button {
    display: flex;
  }

  .os-cards-inner {
    grid-template-columns: 1fr;
  }

  .os-card {
    background: url(assets/images/circleBackground.svg) no-repeat right top / 110px, #F7F7F7;
  }

  /* FREQUENTLY-ASKED-QUESTIONS */
  
  .faqbi-text {
    font-size: 12px;
  }

  /* FOOTER */

  .f-content {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 550px) {
  /* REVIEWS */

  .r-content {
    padding: 30px 0;
  }

  .r-block {
    gap: 20px;
  }

  .r-cards-inner > .rh-button {
    display: flex;
  }

  .r-cards-inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .r-card {
    height: auto;
    justify-content: flex-start;
  }

  /* ARTICLES-AND-NEWS */

  .aan-content {
    padding: 50px 0 30px 0;
  }

  .aan-cards-inner {
    grid-template-columns: 1fr;
  }

  .aan-card:nth-child(2) {
    display: none;
  }
}

@media(max-width: 500px) {
  /* HEADER */
  /* HEADER-TOP */

  .h-button {
    display: none;
  }

  /* MAIN */

  .m-content {
    padding: 15px 0;
  }

  /* MAIN-BLOCK-RIGHT */

  .m-block-right {
    background: url(assets/images/background-heart-152.svg) no-repeat right top,
    radial-gradient(45.92% 71.49% at 45.81% 28.51%, #3fca7a 0%, #4fb279 100%);
  }

  /* OUR-SERVICES */

  .os-content {
    padding: 30px 0;
  }
}

@media(max-width: 420px) {
  /* FOOTER */

  .f-content {
    height: auto;

    grid-template-columns: 230px;
    grid-template-rows: 244px 121px 129px 124px 24px 55px;
    gap: 20px;
  }

  .fco-inner {
    display: none;
  }

  .f-column-two {
    display: flex;
  }

  .f-column-three {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .f-column-four {
    flex-direction: column;
    justify-content: flex-start;
  }

  .f-privacy-policy {
    padding: 0;
    font-size: 12px;
    display: flex;
  }

  .f-logo {
    order: 6;
    margin: 0;
    align-items: flex-end;
  }

  .f-links {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: -50px;
    right: -80px;
  }
}

@media(max-width: 375px) {
  /* MAIN */

  .mbr-text {
    font-size: 34px;
  }

  /* FAQ */

  .faqb-title {
    font-size: 20px;
  }

  .faqb-text {
    width: auto;
    font-size: 12px;
  }

  /* ARTICLES-AND-NEWS */

  .aanh-title {
    font-size: 18px;
    text-align: center;
  }
}